body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto", "Arial", sans-serif;	
	
	background-color: #849d8f;	
	color: #ffffff;
}

body > input[type="radio"] {
    display: none;
}

.site-wrapper {
	background: url("../img/ice-creams-radial-gradient.png") no-repeat 50% 0; 
	background: url("../img/ice-creams.png") no-repeat 50% 83px,
	url("../img/radial-gradient.png") no-repeat 50% 0;
	background-color: #849d8f;
	background-position: top center;
	-webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
	-moz-transition: background-image 0.5s ease, background-color 0.5s ease;
	-o-transition: background-image 0.5s ease, background-color 0.5s ease;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
    content: "";
    visibility: hidden;
}

.site-wrapper:before {
    background-image: url("slide-2.png");
}

.site-wrapper:after {
    background-image: url("slide-3.png");
}

.catalog-bg {
	background: #9db0a5;
    background: -webkit-linear-gradient(#9db0a5 0%, #829a8d 40%, #829a8d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9db0a5), color-stop(40%,#829a8d), color-stop(100%,#829a8d));
    background: -o-linear-gradient(#9db0a5 0%, #829a8d 40%, #829a8d 100%);
	background: -moz-linear-gradient(#9db0a5 0%, #829a8d 40%, #829a8d 100%);
	background: -ms-linear-gradient(#9db0a5 0%, #829a8d 40%, #829a8d 100%);
    background: linear-gradient(#9db0a5 0%, #829a8d 40%, #829a8d 100%);
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ffbc9e;
}

a:active {
	color: #ffbc9e;
}

.btn {
	font-weight: 700;
	font: inherit;
	color: #ffffff;
	
    text-decoration: none;
	border: none;
	background: #f26843;
    background-image: -webkit-linear-gradient(#f26843, #e74a35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f26843), color-stop(100%,#e74a35));
    background-image: -o-linear-gradient(#f26843, #e74a35);
	background-image: -moz-linear-gradient(#f26843, #e74a35);
	background-image: -ms-linear-gradient(#f26843, #e74a35);
    background-image: linear-gradient(#f26843, #e74a35);
    -webkit-border-radius: 34;
    -moz-border-radius: 34;
    border-radius: 40px;
    -webkit-box-shadow: 0 2px 2px #ac1100;
    -moz-box-shadow: 0 2px 2px #ac1100;
    box-shadow: 0 2px 2px rgba(172,16,0,0.64); 
}

.btn:hover {
	color: #ffffff;
	text-decoration: none;
    background: #ff876c;
    background-image: -webkit-linear-gradient(top, #ff876c, #ff7161);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff876c), color-stop(100%,#ff7161));
    background-image: -moz-linear-gradient(top, #ff876c, #ff7161);
    background-image: -ms-linear-gradient(top, #ff876c, #ff7161);
    background-image: -o-linear-gradient(top, #ff876c, #ff7161);
	background-image: -ms-linear-gradient(#ff876c, #ff7161);
    background-image: linear-gradient(to bottom, #ff876c, #ff7161);
	-webkit-box-shadow: 0 2px 2px rgb(172,16,0);
	-moz-box-shadow: 0 2px 2px rgb(172,16,0);
	box-shadow: 0 2px 2px rgb(172,16,0);
}

.btn:active {
	text-decoration: none;
	
    background: #f54636;
    background-image: -webkit-linear-gradient(top, #f54636, #fe6142);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f54636), color-stop(100%,#FE6142));
    background-image: -moz-linear-gradient(top, #f54636, #fe6142);
    background-image: -ms-linear-gradient(top, #f54636, #fe6142);
    background-image: -o-linear-gradient(top, #f54636, #fe6142);
    background-image: linear-gradient(to bottom, #f54636, #fe6142);
	-webkit-box-shadow: inset 0 2px 2px rgb(172,16,0);
	-moz-box-shadow: inset 0 2px 2px rgb(172,16,0);
	box-shadow: inset 0 2px 2px rgb(172,16,0); 
}

.btn .disabled,
.btn:disabled {
	cursor: default;
	opacity: 0.5;
}

h1 {
	font-size: 3.75em;
}

h2 {
	font-size: 2.1875em;
}

.container {
	position: relative;
	
	width: 1146px;
	margin: 0 auto;
	padding: 0 2.3%;
}

.clearfix::after {
	display: table;
	
    content: "";
    clear: both;
}

.main-header {
	padding-top: 9px;
	
	color: #ffffff;
}

.main-navigation{
	float: left;
	width: 880px;
	margin: 0;
	margin-left: -5px;
}


.main-navigation li a {
	display: block;
	
	margin: 0;
	margin-top: -1px;
	padding: 5px 13px 5px 14px;
	
	font-weight: 700;
}

.main-menu .logo-link {
	padding: 0;
}

.main-menu .menu-link:after {
	position: absolute; 
    bottom: 7px;
    left: 14px;
    right: 14px;
	
    height: 1px;
	
	background: rgb(255,255,255);
    background: rgba(255,255,255,0.3); 
	
	content:""; 
}

.main-navigation .selected {
	color: #ffffff;
	background-color: #ce705b;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.main-navigation .selected:hover {
	background-color: #f7f6f3;
}

.main-menu > li:hover {
	background-color: #f7f6f3;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.main-menu li:first-child,
.main-menu li:first-child:hover {
	padding: 0;
	
	background-color: transparent;
}

.main-menu > li:hover a {
	color: #303030;
}

.main-menu > li:hover .menu-link:after {
	background: #f8f6f3;
}

.main-navigation a:active {
	-webkit-box-shadow: inset 0 2px 1px #696969;
	-moz-box-shadow: inset 0 2px 1px #696969;
	box-shadow: inset 0 2px 1px #696969;
}

.main-menu .logo-link:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.main-menu,
.sub-menu {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.main-menu > li {
	position: relative;
	
	display: inline-block;
	margin-top: -7px;
	margin-right: -4px;
	
	vertical-align: middle;
}

.main-menu > li:first-child {
	margin-top: 0;
	margin-right: 11px;
}

.main-menu .sub-menu {
	position: absolute;
	z-index: 10;
	left: -5px;
	
	display: none;
	
	background: transparent;
	border-top: 5px solid transparent;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.main-menu .sub-menu a {
	display: block;
	margin: 0;
	padding: 0;
	padding: 7px 20px;
	
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	
	color: #323232;
	background: #f7f6f4;
	
	white-space: nowrap;
}

.main-menu .sub-menu .sub-menu-selected {
	color: #ffffff;
	background: #e8715b;
}

.main-menu .sub-menu li a:hover {
	color: #323232;
	background: #faddd8;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.main-menu .sub-menu li a:active {
	color: #323232;
	background: #ffb6a7;
	box-shadow: none;
}

.main-menu .sub-menu li:first-child a {
	position: relative;
	
	padding-top: 10px;
	padding-bottom: 12px;
	
	font-weight: 700;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.main-menu .sub-menu li:first-child a:after {
	position: absolute;
	right: 5px;
    bottom: 0;
    left: 5px;
	
	height: 1px;
	
    background: #d1d0ce; 
    
	content:""; 
}

.main-menu .sub-menu li:first-child a:hover {
	background: #faddd8;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.main-menu .sub-menu li:first-child a:active {
	background: #ffb6a7;
}

.main-menu .sub-menu li:nth-child(2) a {
	padding-top: 12px;
}

.main-menu .sub-menu li:last-child a {
	padding-bottom: 16px;
	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	
}

.main-menu .sub-menu li:last-child a:hover {
	background: #faddd8;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.main-menu .sub-menu li:last-child a:active {
	background: #ffb6a7;
}

.main-menu > li:hover .sub-menu {
	display: block;
}

.navigation-forms {
	float: right;
	max-width: 573px;
}

.navigation-forms a {
	display: block;
	padding: 8px 14px 8px 14px;
	
	font-weight: 500;
	
	color: #ffffff;
	text-decoration: none;
	background-color: #9eb1A5;
	background-color: rgba(247, 246, 243, 0.2);
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

.navigation-forms ul {
	margin: 0;
	padding: 0;
	
	font-size: 0;
	
	list-style: none;
}

.navigation-forms li {
	display: inline-block;
	margin-top: 14px;
	margin-left: 10px;
	
	vertical-align: middle;
}

.navigation-forms li:first-child {
	margin-left: 0;
}

.search a {
	position: relative;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	
    font-size: 1px;
	
	color: transparent;
}

.search a:hover,
.user-block a:hover,
.cart-empty a:hover {
	color: #2f2f2f;
	background-color: #f7f6f3;
}

.search a:hover {
	color: transparent;
}


.search a::before {
	position: absolute;
	top: 7px;
	left: 7px;
	
	width: 17px;
    height: 17px;
	
	background-image: url("../img/sprite.png");
	background-position: -5px -487px;
    background-repeat: no-repeat;
	content: "";
}

.search a:hover::before {
	background-position: -5px -514px;
}


.user-block a {
	position: relative;
	
	padding-left: 44px;
	
	font-size: 14px;
	line-height: 16px;
}

.user-block a::before {
	position: absolute;
	top: 6px;
	left: 16px;
	
	width: 21px;
    height: 19px;
	
	background-image: url("../img/sprite.png");
	background-position: -5px -204px;
    background-repeat: no-repeat;
	content: "";
}

.user-block a:hover::before {
	background-position: -5px -233px;
}

.cart-empty a,
.cart a {
	position: relative;
	
	padding-left: 45px;
	padding-right: 34px;
	
	font-size: 14px;
	line-height: 16px;
}

.cart a {
	padding-right: 15px;
	
	color: #2f2f2f;
	background-color: #f7f6f3;
}

.cart a::before,
.cart-empty a::before {
	position: absolute;
	top: 6px;
	left: 16px;
	
	width: 21px;
    height: 20px;
	
	background-image: url("../img/sprite.png");
    background-position: -4px -65px;
    background-repeat: no-repeat;
	content: "";
}

.cart a::before,
.cart-empty a:hover::before {
	background-position: -5px -95px;
}

.slide {
	display: none;
	
	width: 700px;
 	margin: 0 auto;
}

.slider {
	margin-top: 272px;
	
	text-align: center;
}

.slider h1 {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	
	font-weight: 600;
	font-size: 60px;
	line-height: 60px;	
}

.slider a {
	padding: 8px 40px 12px 40px;
	
	font-size: 32px;
	line-height: 44px;
	
	text-shadow: 0 2px 5px rgba(160,32,11,0.76);
}

.slider-controls {
    position: absolute;
    top: 172px;
    left: 44px;
    z-index: 20;
	
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    
    background-color: transparent;
    border: 2px solid #ffffff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    border-radius: 50%;
	
    cursor: pointer;
	vertical-align: top;
}

.slider-controls label:hover {
	background-color: #ffffff;
	background-color: rgba(255,255,255,0.4);
}

.slider-controls label:active {
	background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}

.promo-cards {
	margin-top: 52px;
	margin-bottom: 40px;
}

.promo-cards h2 {
	margin: 0;
}

.promo-cards .sale1 {
	float: left;
	width: 520px;
	margin-right: 26px;
	padding: 24px 21px 22px 19px;
	
	background: #323232 url("../img/raspberries.png") no-repeat;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.promo-cards .sale2 {
	float: right;
	width: 520px;
	margin-right: 0;
	padding: 24px 21px 22px 19px;
	
	background: #323232 url("../img/chocolate.png") no-repeat;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.cart-modal button.btn,
.feedback-modal button.btn,
.promo-cards a.btn {
	float: right;
	padding: 10px 24px 12px 24px;
	
	font-size: 18px;
	line-height: 24px;
}

.promo-cards .sale1 a.btn {
	margin-bottom: 1px;
	padding: 11px 22px 11px 24px;
}

.promo-cards .sale2 a.btn {
	margin-bottom: 2px;
	padding: 11px 23px 10px 22px;
}

.promo-cards p {
	margin: 0;
	margin-top: 25px;
	margin-bottom: 45px;
	
	font-size: 18px;
	line-height: 22px;
}

.catalog {
	position: relative;
	z-index: 1;
}

.catalog-item {
	position: relative;
	
	float: left;
	width: 267px;
	margin-right: 26px;
	margin-bottom: 35px;
	
	text-align: center;
}

.wrap {
	height: 307px;
	padding-bottom: 20px;
	
	overflow: hidden;
}

.wrap-one-line {
	height: 285px;
	padding-bottom: 20px;
	
	overflow: hidden;
}

.wrap:hover {
	position: absolute;
	top: -6px;
	left: -13px;
	z-index: 100;
	
	height: 385px;
	padding: 6px 13px 20px 13px;
	
	background: #323232;
	background: rgba(248,247,244,0.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.05);
    -moz-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.05);
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.05);
	
	overflow: visible;	
}

.wrap-one-line:hover {
	position: absolute;
	top: -6px;
	left: -13px;
	z-index: 100;
	
	height: 363px;
	padding: 6px 13px 20px 13px;
	
	background: #323232;
	background: rgba(248,247,244,0.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.05);
    -moz-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.05);
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.05);
	
	overflow: visible;
}

.catalog-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-item .top-img {
	position: absolute;
}

.catalog-item h2 {
	margin-top: -65px;
	margin-bottom: 28px;
	
	font-size: 45px;
	line-height: 45px;
	
	text-shadow: 0 1px 4px rgba(49,50,53,0.5);
	text-align: left;
}

.catalog-item span {
	font-size: 30px;
	line-height: 35px;
}

.catalog-item p {
	margin-bottom: 20px;
}

.catalog-item a {
	font-size: 16px;
	line-height: 22px;
	
	border-bottom: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgba(255,255,255,0.3);
	
}

.catalog-item a:hover {
	color: #ffbc9e;
	border-bottom: 1px solid rgb(255,173,162);
	border-bottom: 1px solid rgba(255,173,162,0.3);
}

.catalog-item a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgb(255,173,162);
	border-bottom: 1px solid rgba(255,173,162,0.3);
}

.catalog-item a.btn {
	padding: 10px 22px 12px 22px;
	
	font-size: 18px;
	line-height: 24px;
	
	color: #ffffff;
	border: none;
}

.features {
	margin-bottom: 40px;
	padding: 23px 20px;
	padding-bottom: 9px;
	
	color: #323232;
	background: #323232 url("../img/waffle.png") repeat;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}

.features h2 {
	margin: 0;
	
	font-weight: 500;	
	font-size: 24px;
	line-height: 30px;
}

.features-left {
	float: left;
	width: 540px;
	margin-right: 26px;
}

.features-right {
	float: right;
	width: 540px;
	margin-right: 0;
}

.feature1,
.feature2,
.feature3,
.feature4 {
	position: relative;
	
	padding: 0;
	padding-left: 57px;
}

.feature1 ,
.feature3 {
	margin: 0;
	margin-top: 22px;
	margin-bottom: 22px;
}

.feature1::before {
	position: absolute;
	top: -12px;
	left: 0;
	
	width: 49px;
    height: 49px;
	
	background-image: url("../img/sprite.png");
    background-position: -5px -327px;
    background-repeat: no-repeat;
	
	content: "";
}

.feature2::before {
	position: absolute;
	top: -12px;
	left: 0;
	
	width: 49px;
    height: 49px;
	
	background-image: url("../img/sprite.png");
    background-position: -5px -428px;
    background-repeat: no-repeat;
	content: "";
}

.feature3::before {
	position: absolute;
	top: -12px;
	left: 0;
	
	width: 49px;
    height: 49px;
	
	background-image: url("../img/sprite.png");
    background-position: -5px -145px;
    background-repeat: no-repeat;
	content: "";
}

.feature4::before {
	position: absolute;
	top: -12px;
	left: 0;
	
	width: 49px;
    height: 49px;
	
	background-image: url("../img/sprite.png");
    background-position: -5px -541px;
    background-repeat: no-repeat;
	
	content: "";
}

.news-subscribe {
	margin: 0;
	margin-bottom: 40px;
}

.news-subscribe .news {
	float: left;
	width: 520px;
	margin-right: 26px;
	padding: 20px 20px 82px 20px;
	
	background: #323232 url("../img/strawberries.png") no-repeat;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.news-subscribe .news h3 {
	margin: 0;
	
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	
	color: #323232;
}

.news-subscribe .news a {
	display: block;
	width: 290px;
	margin-top: 6px;
	
	font-weight: 700;	
	font-size: 24px;
	line-height: 30px;
	
	color: #323232;
	text-decoration: underline;
}

.news-subscribe .news a:hover {
	color: #e84d37;
}

.news-subscribe .news a:active {
	color: #e84d37;
}

.news-subscribe .subscribe {
	float: right;
	width: 560px;
	margin-right: 0;
	
	background: #f7f6f4 url("../img/lines-pattern.png") repeat;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.subscribe-content {
	position: relative;
	
	margin: 5px;
	
	background: #f7f6f4;
	border-radius: 10px;
}

.subscribe-content p {
	margin: 0;
	padding: 28px 20px 36px 20px;
	
	font-size: 16px;
	line-height: 22px;
	
	color: #5a5a5a;
}

.subscribe-form {
	padding-left: 20px;
	padding-bottom: 30px;
}

.subscribe-form input {
	width: 336px;
	padding: 9px 15px;
	
	font: inherit;
	line-height: 24px;
	
	border: 1px solid #d2d2d1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius:  4px;
}

.subscribe-form input:hover {
	padding: 8px 14px;
	border: 2px solid #c8c7c6;
}

.subscribe-form input:focus {
	padding: 8px 14px;
	
	font-weight: 700;
	
	border: 2px solid #7abfec;
}

.subscribe-form input + label {
	position: absolute;
	display: none;
	
	font-size: 11px;
	line-height: 13px;
	
	color: #249fdf;
}

.subscribe-form .subscribe-mail:focus + label {
	display: block;
	top: 117px;
	left: 35px;
}

.subscribe-form input:required:valid {
	padding: 9px 15px;
	
	font-weight: 700;
	
	border: 1px solid #d2d2d1;
}

.subscribe-form input:required:valid + label {
	top: 117px;
	left: 35px;
	
	display: block;
	
	color: #9a9a9a;
}

.subscribe-form .btn {
	margin-left: 8px;
	margin-bottom: 4px;
	padding: 9px 19px 13px 19px;
	
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}

.contacts-map {
	position: relative;
}

.contacts {
	position: absolute;
	top: 62px;
	right: 44px;
	z-index: 2;
	
	width: 252px;
	padding: 30px 25px 30px 25px;
	
	background: #fcfdfd;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}

.contacts p {
	margin: 0;
	
	font-size: 14px;
	line-height: 20px;
	
	color: #323232;
}

.contacts p:nth-child(2) {
	margin-top: 17px;
}

.contacts p strong {
	font-size: 18px;
	line-height: 24px;
}

.contacts span strong {
	line-height: 30px;
}

.contacts .btn {
	display: block;
	margin-top: 25px;
	padding-top: 8px;
	padding-bottom: 13px;
	
	font-size: 18px;
	line-height: 24px;
	
	text-align: center;
}

.footer {
	margin-top: 20px;
	padding-bottom: 25px;
}

.catalog-footer .container  {
	margin-top: 28px;
	padding-top: 20px;
}
.catalog-footer .container:before {
	position: absolute; 
    top: -1px;
	right: 45px;
    left: 45px;

    height: 1px;

    background: #d1d0cE; 
     
	content:""; 
}

.footer-social {
	float: left;
	width: 267px;
	margin-right: 26px;
}

.social-btn {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-top: 15px;
	margin-right: 7px;
	
	font-size: 0;
	
	background: transparent url("../img/sprite.png") no-repeat center;
	border: 5px solid rgb(255,255,255);
	border: 5px solid rgba(255,255,255,0.5);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	vertical-align: top;
}

.social-btn-tw {
	background-position: -7px -602px;
	opacity: 0.8;
}

.social-btn-inst {
	background-position: -7px -388px;
	opacity: 0.8;
}

.social-btn-fb {
	background-position: -7px -264px;
	opacity: 0.8;
}

.social-btn-vk {
	background-position: -8px -644px;
	opacity: 0.8;
}

.social-btn-tw:hover,
.social-btn-inst:hover,
.social-btn-fb:hover,
.social-btn-vk:hover {
	opacity: 1.0;
}

.social-btn-tw:active,
.social-btn-inst:active,
.social-btn-fb:active,
.social-btn-vk:active {
	opacity: 1.0;
	-webkit-box-shadow: inset 0 2px 1px #888888;
	-moz-box-shadow: inset 0 2px 1px #888888;
	box-shadow: inset 0 2px 1px #888888;
}

.footer-links {
	float: left;
	margin-top: 12px;
	margin-right: 26px;
	margin-left: 107px;
} 

.footer-links ul {
	float: left;
	margin: 0;
	margin-right: 30px;
	padding: 0;
	
	font-size: 0;
	
	list-style: none;
}

.footer-links li {
	font-size: 16px;
	line-height: 18px;
}

.footer-links a,
.footer-copyright a {
	font-size: 13px;
	line-height: 18px;
	
	border-bottom: 1px solid #9db0a5;
}

.footer-links a:hover,
.footer-copyright a:hover {
	border-bottom: 1px solid #aaa395;
}

.footer-links a:active,
.footer-copyright a:active {
	border-bottom: 1px solid #aaa395;
}

.footer-links ul.supplier {
	position: relative;
	
	padding-left: 22px;
}

.footer-links ul.supplier::before {
	position: absolute;
	top: 4px;
	left: 0;
	
    width: 15px;
    height: 13px;
	
	background-image: url("../img/sprite.png");
    background-position: -5px -304px;
    background-repeat: no-repeat;
	content: "";
}

.footer-links ul.supplier li:first-child {
	font-weight: 700;
}

.footer-copyright {
	float: right;
	width: 189px;
	margin: 0;
	margin-top: -2px;
	
	font-size: 11px;
	line-height: 18px;
}

.footer-copyright p {
	margin-top: -2px;
}

#map {
	min-height: 430px;
    width: 100%;
}

.breadcrumbs {
	float: left;
	width: 853px;
	margin-right: 26px;
}

.breadcrumbs ul {
	margin: 0;
	padding: 0;
	
	font-size: 0;
	
	list-style: none;
}

.breadcrumbs li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 8px;
	
	font-size: 14px;
	line-height: 16px;
	
	vertical-align: middle;
}

.breadcrumbs a {
	border-bottom: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgba(255,255,255,0.3);
	
}

.breadcrumbs a:hover {
	border-bottom: 1px solid rgb(255,173,162);
	border-bottom: 1px solid rgba(255,173,162,0.3);
}

.breadcrumbs a:active {
	border-bottom: 1px solid rgb(255,173,162);
	border-bottom: 1px solid rgba(255,173,162,0.3);
}

.time-phone {
	float: right;
	max-width: 267px;
	margin-top: -10px;
}

.time-phone p {
	margin: 0;
	padding: 0;
	
	font-size: 14px;
	line-height: 24px;
	
	text-align: right;
}

.time-phone p a {
	font-size: 22px;
	font-weight: 700;
	
	color: #FFFFFF;
	text-decoration: none;
}

.catalog-title {
	margin-top: 0;
	margin-bottom: 20px;
	
	font-size: 35px;
	line-height: 41px;
}

.catalog {
	margin-top: 40px;
}

.pagination {
	float: right;
	max-width: 267px;
	margin-right: 27px;
	margin-top: 6px;
	margin-bottom: 3px;
}

.pagination ul {
	margin: 0;
	margin-top: 36px;
	padding: 0;
	
	font-size: 0;
	
	list-style: none;
}

.pagination li {
	display: inline-block;
	
	font-size: 16px;
	line-height: 18px;
	
	vertical-align: middle;
}

.pagination li.selected {
	padding: 4px 9px 4px 9px;
	
	color: #2e2e2e;
	background-color: #ffffff;
	border-radius: 16px;
}

.pagination li a {
	display: block;
	padding: 4px 10px 4px 10px;
	
	color: #ffffff;
	text-decoration: none;
}

.pagination li a:hover {
	background-color: #96b2a6;
	background-color: rgba(247, 246, 243, 0.2);
	border-radius: 16px;
}

.pagination li a:active {
	color: #2e2e2e;
	background-color: #ffffff;
}

.arrow {
	width: 9px;
    height: 14px;
	
	font-size: 0;
	
	vertical-align: middle;
	background: #849c8f url(../img/sprite.png) no-repeat center;
}

.left {
	margin-right: 14px;
	
    background-position: -5px -5px;
	opacity: 0.2;
}

.right {
	margin-left: 14px;
	
    background-position: -5px -29px;
}

.pagination li.right a:hover {
    background-color: transparent;
}

.form-element {
	display: inline-block;
	margin-top: 1px;	
	margin-right: 10px;	
	margin-bottom: 11px;
	padding: 0;
	
	vertical-align: bottom;
}

.form-element:nth-child(4),
.form-element:nth-child(5) {
	margin-bottom: -2px;
	margin-right: 11px;
}

.form-element span {
	display: inline-block;
	margin-left: 16px;
	margin-bottom: 6px;
		
	font-size: 14px;
	line-height: 16px;
}

.select-style {
	position: relative;
	
	width: 193px;
	margin: 0;
	padding: 0;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #96b2a6;
	background-color: rgba(255,255,255,0.2);
	
	overflow: hidden;
}

.select-style::after {
	position: absolute;
	top: 17px;
	right: 14px;
	
	border: 5px solid transparent;
    border-top: 6px solid #ffffff;
	
	content: "";

}

.select-style:hover::after {
	position: absolute;
	top: 17px;
	right: 14px;
	
	border: 5px solid transparent;
    border-top: 6px solid #2f2f2f;
	
	content: "";

}

.select-style select:hover {
	background-color: #ffffff;
	color: #2e2e2e;
}

.select-field::-ms-expand {
	display: none;
}

.select-style select {
	width: 193px;
	padding: 10px 16px;
	
	color: #ffffff;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.range-filter {
	width: 220px;
}

.range-controls {
	position: relative;
	
	height: 36px;
	padding: 0 15px;
	
	background: #96b2a6;
	background: rgba(255,255,255,0.2);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	overflow: hidden;
}

.range-controls .scale {
	height: 4px;
	margin-top: 16px;
	
	background: #c9d5ce;
	background: rgba(247,246,244,0.5);
}

.range-controls .bar {
	height: 4px;
	
	background: rgb(247,246,244);
}

.range-controls .toggle {
	position: absolute;
	top: 8px;
	left: 36px;
	
	width: 20px;
	height: 20px;
	
	background: #f8f7f4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
	
	cursor: pointer;
}

.range-controls .min-toggle:hover {
	top: 7px;
	left: 35px;
	
	width: 22px;
	height: 22px;
	
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
}

.range-controls .max-toggle:hover {
	top: 7px;
	left: 133px;
	
	width: 22px;
	height: 22px;
	
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
}

.range-controls .max-toggle {
	left: 134px;
}

.price-controls {
	margin-left: 16px;
	margin-bottom: 6px;
	
	font-size: 14px;
	line-height: 16px;
}

.price-controls input {
	display: none;
}

.radio-style,
.checkbox-style {
	position: relative;
	
	padding: 7px 19px;
	
	background: #abbcb2;
	background: rgba(255,255,255,0.2);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	overflow: hidden;
}

.checkbox-style {
	padding: 8px 18px;
}

.form-radio-button {
	position: relative;
	
	margin-right: 15px;
	padding-left: 30px;
	
	cursor: pointer;
}

.form-radio-button:last-child {
	margin-right: 0;
}

.form-radio-button input[type="radio"] {
	display: none;
}

.form-radio-button input[type="radio"] + .radio-indicator {
	position: absolute;
	top: 0;
	left: -18px;
	
	width: 20px;
	height: 20px;
	
	border: 1px solid #ffffff;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
} 

.form-radio-button input[type="radio"] + .radio-indicator:hover {
	top: -1px;
	left: -19px;
	
	border: 2px solid #ffffff;
} 

.form-radio-button input[type="radio"]:checked + .radio-indicator::before {
	position: absolute;
	top: 4px;
	left: 4px;
	
	width: 12px;
	height: 12px;
	
	background-color: #f8f7f4;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	
	content: "";
}

.form-checkbox {
	position: relative;
	
	margin-right: 20px;
	padding-left: 30px;
	
	cursor: pointer;
}

.form-checkbox:last-child {
	margin-right: 0;
}

.form-checkbox input[type="checkbox"] {
	display: none;
}

.form-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: -19px;
	
	width: 20px;
	height: 20px;
	
	border: 1px solid #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
} 

.form-checkbox input[type="checkbox"] + .checkbox-indicator:hover {
	top: -1px;
	left: -20px;
	
	border: 2px solid #ffffff;
} 

.form-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
	background-image: url("../img/sprite.png");
    background-position: -2px -120px;
    background-repeat: no-repeat;
}

.form-element button {
	margin-bottom: 2px;
	padding: 5px 27px 5px 28px;
	
	font: inherit;
	
	color: #FBFBFB;
	background: #A6B8AE;
	background: rgba(255,255,255,0.2);
	border: 2px solid #ffffff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.form-element button:hover {
	color: #313131;
	background: #fafcfb;
	
	cursor: pointer;
}

.form-element button:active {
	padding: 8px 30px;
	
	color: #313131;
	background: #eaeaea;
	border: none;
	-webkit-box-shadow: inset 0 2px 1px #696969;
	-moz-box-shadow: inset 0 2px 1px #696969;
	box-shadow: inset 0 2px 1px #696969;
	
	cursor: pointer;
}

.feedback-modal-form label,
.search-form label,
.user-block-login-form label,
.subscribe-form label {
	display: none;
}

.search-form {
	position: absolute;
	top: 60px;
	right: 257px;
	z-index: 2;
	
	display: none;
	width: 340px;
	padding: 20px;
	
	background: #f7f6f4;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.catalog-bg .search-form  {
	right: 275px;
}

.search-form-show {
	display: block;
}

.search-form input {
	position: relative;
	
	width: 305px;
	padding: 10px 15px;
	
	font: inherit;
	line-height: 24px;
	
	border: 1px solid #d2d2d1;
	border-radius: 4px;
}




.user-block-login {
	position: absolute;
	top: 60px;
	right: 155px;
	z-index: 2;
	
	display: none;
	width: 241px;
	padding: 20px;
	
	background: #f7f6f4;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.catalog-bg .user-block-login  {
	right: 175px;
}

.user-block-login-show {
	display: block;
}

.user-block-login-form input {
	position: relative;
	
	width: 210px;
	margin-bottom: 20px;
	padding: 10px 15px;
	
	font: inherit;
	line-height: 24px;
	
	border: 1px solid #d2d2d1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.feedback-modal-form textarea:hover,
.feedback-modal-form input:hover,
.search-form input:hover,
.user-block-login-form input:hover {
	padding: 9px 14px;
	
	border: 2px solid #c8c7c6;
}

.feedback-modal-form textarea:focus,
.feedback-modal-form input:focus,
.search-form input:focus,
.user-block-login-form input:focus {
	padding: 9px 14px;
	
	font-weight: 700;
	
	border: 2px solid #7abfec;
}

.feedback-modal-form textarea:required:valid,
.feedback-modal-form input:required:valid,
.main-header input:required:valid {
	padding: 10px 15px;
	
	font-weight: 700;
	
	border: 1px solid #d2d2d1;
}

input:focus::-webkit-input-placeholder { 
	color:transparent; 
}

input:focus:-moz-placeholder { 
	color:transparent; 
} 

input:focus::-moz-placeholder { 
	color:transparent; 
} 

input:focus:-ms-input-placeholder { 
	color:transparent; 
} 

textarea:focus::-webkit-input-placeholder { 
	color:transparent; 
}

textarea:focus:-moz-placeholder { 
	color:transparent; 
} 

textarea:focus::-moz-placeholder { 
	color:transparent; 
} 

textarea:focus:-ms-input-placeholder { 
	color:transparent; 
} 

.feedback-modal-form textarea + label,
.feedback-modal-form input + label,
.search-form input + label,
.user-block-login-form input + label {
	position: absolute;
	
	display: none;
	
	font-size: 11px;
	line-height: 13px;
	
	color: #249fdf;
}

.user-block-login-form input.login-mail:focus + label {
	top: 5px;
	left: 35px;
	
	display: block;	
}

.user-block-login-form input.login-mail:required:valid + label {
	top: 5px;
	left: 35px;
	
	display: block;
	
	color: #9a9a9a;
}

.user-block-login-form input.login-password:focus + label {
	top: 71px;
	left: 35px;
	
	display: block;
}

.user-block-login-form input.login-password:required:valid + label {
	top: 71px;
	left: 35px;
	
	display: block;
	
	color: #9a9a9a;
}

.search-form input.search:focus + label {
	top: 5px;
	left: 35px;
	
	display: block;
}


.search-form input.search:required:valid + label {
	top: 5px;
	left: 35px;
	
	display: block;
	
	color: #9a9a9a;
}


.user-block-login-form p {
	float: right;
	width: 125px;
	margin: 0;
	
	font-size: 13px;
	line-height: 20px;
}

.user-block-login-form a {
	color: #323232;
	border-bottom: 1px solid #acabaa;
	
	white-space: nowrap;
}

.user-block-login-form a:hover {
	color: #ff4d3c;
	border-bottom: 1px solid #ffcec6;
}

.user-block-login-form a:active {
	color: #ff4d3c;
	border-bottom: 1px solid #ffcec6;
}

.user-block-login-form button {
	padding: 10px 25px;
	
	cursor: pointer;
}

.feedback-modal-background {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 200;
	
	display: none;
	width: 100%;
	height: 100%;
	
	background-color: transparent;
	background-color: rgba(0,0,0,0.3);
	
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.feedback-modal-background-show {
	display: block;
}

@keyframes bounce {
    0% {
		-webkit-transform: translateY(-2000px);
		-moz-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		-o-transform: translateY(-2000px);
    	 transform: translateY(-2000px);
    }
    70% {
		-webkit-transform: translateY(30px);
		-moz-transform: translateY(30px);
		-ms-transform: translateY(30px);
		-o-transform: translateY(30px);
    	transform: translateY(30px);
    }
    90% {
    	-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-o-transform: translateY(-10px);
    	transform: translateY(-10px);
    }
    100% {
   		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
    	transform: translateY(0);
    }
}

@keyframes shake {
    0%, 100% {
    	-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
    	transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
    	-webkit-transform: translateX(-10px);
		-moz-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		-o-transform: translateX(-10px);
    	transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
    	-webkit-transform: translateX(10px);
		-moz-transform: translateX(10px);
		-ms-transform: translateX(10px);
		-o-transform: translateX(10px);
    	transform: translateX(10px);
    }
}

.feedback-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 300;
	
	display: none;
	width: 428px;
	height: 402px;
	margin-left: -214px;
	margin-top: -201px;
	padding: 20px 25px;
	
	color: #323232;
	background: #f8f7f4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


.feedback-modal-show {
	display: block;
	
	animation: bounce 0.6s;
}

.feedback-modal-error {
  	animation: shake 0.6s;
}

.feedback-modal-close {
	position: absolute;
	top: 15px;
	right: 15px;
	
	width: 18px;
	height: 18px;
	
	font-size: 0;
	
	background-color: transparent;
	border: 0;
	
	cursor: pointer;
}

.feedback-modal-close::before,
.feedback-modal-close::after {
	position: absolute;
	top: 8px;
	left: -2px;
	
	width: 23px;
	height: 2px;
	
	background-color: #000000;
	content: "";
}

.feedback-modal-close::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.feedback-modal-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.feedback-modal h2 {
	margin: 0;
	margin-bottom: 24px;
	padding: 0;
	
	font-weight: 500;
	font-size: 24px;
	line-height: 19px;
}

.feedback-modal-form input {
	position: relative;
	
	width: 237px;
	margin-bottom: 18px;
	padding: 10px 15px;
	
	font: inherit;
	line-height: 24px;
	
	border: 1px solid #d2d2d1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	
}

.feedback-modal-form input.feedback-modal-name:focus + label {
	top: 47px;
	left: 40px;
	
	display: block;
}

.feedback-modal-form input.feedback-modal-name:required:valid + label {
	top: 47px;
	left: 40px;
	
	display: block;
	
	color: #9a9a9a;
}

.feedback-modal-form input.feedback-modal-mail:focus + label {
	top: 110px;
	left: 40px;
	
	display: block;
}

.feedback-modal-form input.feedback-modal-mail:required:valid + label {
	top: 110px;
	left: 40px;
	
	display: block;
	
	color: #9a9a9a;
}

.feedback-modal-form textarea {
	position: relative;
	width: 398px;
	height: 133px;
	margin-bottom: 20px;
	padding: 10px 15px;
	
	font: inherit;
	line-height: 24px;
	
	border: 1px solid #d2d2d1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.feedback-modal-form textarea:focus + label {
	top: 175px;
	left: 35px;
	
	display: block;
}

.feedback-modal-form textarea:required:valid + label {
	top: 175px;
	left: 35px;
	
	display: block;
	
	color: #9a9a9a;
}

.cart-modal {
	position: absolute;
	top: 60px;
	right: 44px;
	z-index: 2;
	
	display: none;
	width: 500px;
	padding: 20px;
	
	background: #f7f6f4;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.cart-modal-show {
	display: block;
}

.cart-modal span {
	color: #999999;
}

.cart-modal table {
	font-size: 13px;
	line-height: 16px;
	
	color: #323232;
	
	border-collapse: collapse;

}

.cart-modal td {
	padding-bottom: 15px;
	
	vertical-align: middle;
}

.cart-modal td:nth-child(3) {
	padding-left: 10px;
}

.cart-modal .number {
	padding-left: 30px;
	
	text-align: right;
	
	white-space: nowrap;
	
	
}

.cart-modal .total {
	padding-top: 15px;
	
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	
	text-align: right;
	border-top: 1px solid #cacac7;
}

.cart-modal-close {
	width: 18px;
	height: 18px;
	
	font-size: 0;
	
	background-color: transparent;
	background-image: url("../img/sprite.png");
    background-position: -5px -680px;
    background-repeat: no-repeat;
	border: 0;
	
	cursor: pointer;
}

.map-img img {
	display: block;
	margin: 0 auto;
}