body {
	min-width: 1200px;
	background-color: #849d8f;	
	color: #ffffff;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	padding: 0;
}

body > input[type="radio"] {
    display: none;
}

.site-wrapper {
	background: url(../img/ice-creams-radial-gradient.png) no-repeat 50% 0; 
	background: 
		url(../img/ice-creams.png) no-repeat 50% 83px,
		url(../img/radial-gradient.png) no-repeat 50% 0;
	background-color: #849d8f;
	background-position: top center;
	-webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
	   -moz-transition: background-image 0.5s ease, background-color 0.5s ease;
	        transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
    content: "";
    visibility: hidden;
}

.site-wrapper:before {
    background-image: url("slide-2.png");
}

.site-wrapper:after {
    background-image: url("slide-3.png");
}

.catalog-bg {
	background: #9db0a5;
    background: -webkit-linear-gradient(#9db0a5 0%, #829a8d 40%, #829a8d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9db0a5), color-stop(40%,#829a8d), color-stop(100%,#829a8d));
    background: -o-linear-gradient(#9db0a5 0%, #829a8d 40%, #829a8d 100%);
	background: -moz-linear-gradient(#9db0a5 0%, #829a8d 40%, #829a8d 100%);
	background: -ms-linear-gradient(#9db0a5 0%, #829a8d 40%, #829a8d 100%);
    background: linear-gradient(#9db0a5 0%, #829a8d 40%, #829a8d 100%);
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ffbc9e;
}

a:active {
	color: #ffbc9e;
}




.btn {
	font: inherit;
	font-weight: 700;
	color: #ffffff;
    text-decoration: none;
	border: none;
	background: #f26843;
    background-image: -webkit-linear-gradient(#f26843, #e74a35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f26843), color-stop(100%,#e74a35));
    background-image:      -o-linear-gradient(#f26843, #e74a35);
	background-image:    -moz-linear-gradient(#f26843, #e74a35);
	background-image:     -ms-linear-gradient(#f26843, #e74a35);
    background-image:         linear-gradient(#f26843, #e74a35);
    -webkit-border-radius: 34;
       -moz-border-radius: 34;
            border-radius: 40px;
    -webkit-box-shadow: 0 2px 2px #ac1100;
       -moz-box-shadow: 0 2px 2px #ac1100;
            box-shadow: 0 2px 2px rgba(172,16,0,0.64); 
}

.btn:hover {
    background: #ff876c;
	color: #ffffff;
    background-image: -webkit-linear-gradient(top, #ff876c, #ff7161);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff876c), color-stop(100%,#ff7161));
    background-image:    -moz-linear-gradient(top, #ff876c, #ff7161);
    background-image:     -ms-linear-gradient(top, #ff876c, #ff7161);
    background-image:      -o-linear-gradient(top, #ff876c, #ff7161);
	background-image:     -ms-linear-gradient(#ff876c, #ff7161);
    background-image:         linear-gradient(to bottom, #ff876c, #ff7161);
	-webkit-box-shadow: 0 2px 2px rgb(172,16,0);
	   -moz-box-shadow: 0 2px 2px rgb(172,16,0);
	        box-shadow: 0 2px 2px rgb(172,16,0);
    text-decoration: none;
}

.btn:active {
    background: #f54636;
    background-image: -webkit-linear-gradient(top, #f54636, #FE6142);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f54636), color-stop(100%,#FE6142));
    background-image: -moz-linear-gradient(top, #f54636, #FE6142);
    background-image: -ms-linear-gradient(top, #f54636, #FE6142);
    background-image: -o-linear-gradient(top, #f54636, #FE6142);
    background-image: linear-gradient(to bottom, #f54636, #FE6142);
	-webkit-box-shadow: inset 0 2px 2px rgb(172,16,0);
	   -moz-box-shadow: inset 0 2px 2px rgb(172,16,0);
	        box-shadow: inset 0 2px 2px rgb(172,16,0);
    text-decoration: none;
}

.btn .disabled,
.btn:disabled {
	cursor: default;
	opacity: 0.5;
}

h1 {
	font-size: 3.75em;
}

h2 {
	font-size: 2.1875em;
}

.container {
	position: relative;
	width: 1146px;
	margin: 0 auto;
	padding: 0 2.3%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
	padding-top: 9px;
	color: #ffffff;
}

.main-navigation{
	float: left;
	width: 590px;
	margin: 0;
	margin-left: -5px;
}


.main-navigation li a {
	display: block;
	font-weight: 700;
	margin: 0;
	padding: 6px 14px 8px 14px;
}

.main-menu .menu-link:after {
	content:""; 
	background: rgb(255,255,255);
    background: rgba(255,255,255,0.3);
    position: absolute; 
    bottom: 7px;
    left: 14px;
    right: 14px;
    height: 1px; 
}

.main-navigation a.selected {
	color: #FFFFFF;
	background-color: #CE705B;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
}

.main-navigation a.logo-link,
.main-navigation a.logo-link:hover, 
.main-navigation a.logo-link:active {
	padding: 0;
	background-color: transparent;
	box-shadow: none;
}

.main-menu > li a:hover {
	color: #2F2F2F;
	background-color: #F7F6F3;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	
}

.main-navigation a:active {
	-webkit-box-shadow: inset 0 2px 1px #696969;
	   -moz-box-shadow: inset 0 2px 1px #696969;
	        box-shadow: inset 0 2px 1px #696969;
}

.main-menu,
.sub-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-menu > li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-top: -7px;
	margin-right: -4px;
}

.main-menu > li:first-child {
	margin-top: 0;
	margin-right: 10px;
}

.main-menu .sub-menu {
	display: none;
	position: absolute;
	z-index: 10;
	background: transparent;
	border-top: 5px solid transparent;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
       -moz-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
            box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

.main-menu .sub-menu a {
	display: block;
	margin: 0;
	padding: 0;
	padding: 6px 20px;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #323232;
	white-space: nowrap;
	background: #F7F6F4;
}

.main-menu .sub-menu .sub-menu-selected {
	color: #FFFFFF;
	background: #E8715B;
}

.main-menu .sub-menu li a:hover {
	color: #323232;
	background: #FADDD8;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}

.main-menu .sub-menu li a:active {
	color: #323232;
	background: #FFB6A7;
	box-shadow: none;
}

.main-menu .sub-menu li:first-child a {
	position: relative;
	padding-top: 12px;
	padding-bottom: 12px;
	font-weight: 700;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.main-menu .sub-menu li:first-child a:after {
	content:""; 
    background: #D1D0CE; 
    position: absolute; 
    bottom: 0;
    left: 5px;
    right: 5px;
    height: 1px; 
}

.main-menu .sub-menu li:first-child a:hover {
	background: #FADDD8;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.main-menu .sub-menu li:first-child a:active {
	background: #FFB6A7;
}

.main-menu .sub-menu li:nth-child(2) a {
	padding-top: 12px;
}

.main-menu .sub-menu li:last-child a {
	padding-bottom: 16px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	
}

.main-menu .sub-menu li:last-child a:hover {
	background: #FADDD8;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.main-menu .sub-menu li:last-child a:active {
	background: #FFB6A7;
}

.main-menu > li:hover .sub-menu {
	display: block;
}

.navigation-forms {
	float: right;
	max-width: 573px;
}

.navigation-forms a {
	display: block;
	padding: 8px 14px 8px 14px;
	color: #ffffff;
	font-weight: 500;
	text-decoration: none;
	background-color: #9EB1A5;
	background-color: rgba(247, 246, 243, 0.2);
	-webkit-border-radius: 16px;
	   -moz-border-radius: 16px;
	        border-radius: 16px;
}

.navigation-forms ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.navigation-forms li {
	display: inline-block;
	vertical-align: middle;
	margin-top: 14px;
	margin-left: 10px;
}

.navigation-forms li:first-child {
	margin-left: 0;
}

.search a {
	position: relative;
    font-size: 0;
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.search a:hover,
.user-block a:hover,
.cart-empty a:hover {
	color: #2F2F2F;
	background-color: #F7F6F3;
}

.search a::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 7px;
	width: 17px;
    height: 17px;
	background-image: url(../img/sprite.png);
	background-position: -5px -487px;
    background-repeat: no-repeat;
}

.search a:hover::before {
	background-position: -5px -514px;
}


.user-block a {
	position: relative;
	padding-left: 44px;
	font-size: 14px;
	line-height: 16px;
}

.user-block a::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
    height: 19px;
	background-image: url(../img/sprite.png);
	background-position: -5px -204px;
    background-repeat: no-repeat;
}

.user-block a:hover::before {
	background-position: -5px -233px;
}

.cart-empty a,
.cart a {
	position: relative;
	padding-left: 45px;
	padding-right: 18px;
	font-size: 14px;
	line-height: 16px;
}

.cart a {
	color: #2F2F2F;
	background-color: #F7F6F3;
}

.cart a::before,
.cart-empty a::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
    height: 20px;
	background-image: url(../img/sprite.png);
    background-position: -5px -65px;
    background-repeat: no-repeat;
}

.cart a::before,
.cart-empty a:hover::before {
	background-position: -5px -95px;
}

.slide {
	display: none;
	width: 700px;
 	margin: 0 auto;
}

.slider {
	margin-top: 275px;
	text-align: center;
}

.slider h1 {
	margin: 0;
	padding: 0;
	margin-bottom: 38px;
	font-size: 60px;
	line-height: 60px;
	font-weight: 600;
}

.slider a {
	font-size: 32px;
	line-height: 44px;
	padding: 9px 41px 12px 41px;
	text-shadow: 0 2px 5px rgba(160,32,11,0.76);
}

.slider-controls {
    position: absolute;
    top: 170px;
    left: 44px;
    z-index: 20;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer;
}

.slider-controls label:hover {
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
}

.slider-controls label:active {
	background-color: #FFFFFF;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url(../img/slide-1.png);
}

#btn-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url(../img/slide-2.png);
}

#btn-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url(../img/slide-3.png);
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}

.promo-cards {
	margin-top: 51px;
	margin-bottom: 40px;
}

.promo-cards h2 {
	margin: 0;
}

.promo-cards .sale1 {
	float: left;
	width: 520px;
	margin-right: 26px;
	padding: 25px 20px 22px 20px;
	background: #323232 url(../img/raspberries.png) no-repeat;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
}

.promo-cards .sale2 {
	float: right;
	width: 520px;
	margin-right: 0;
	padding: 25px 20px 22px 20px;
	background: #323232 url(../img/chocolate.png) no-repeat;
	-webkit-border-radius: 14px;
	   -moz-border-radius: 14px;
	        border-radius: 14px;
}

.cart-modal button.btn,
.feedback-modal button.btn,
.promo-cards a.btn {
	float: right;
	padding: 10px 24px 12px 24px;
	font-size: 18px;
	line-height: 24px;
}

.promo-cards p {
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 45px;
}

.catalog {
	position: relative;
	z-index: 1;
}

.catalog-item {
	position: relative;
	float: left;
	width: 267px;
	margin-right: 26px;
	margin-bottom: 36px;
	text-align: center;
}

.wrap {
	height: 307px;
	padding-bottom: 20px;
	overflow: hidden;
}

.wrap-one-line {
	height: 285px;
	padding-bottom: 20px;
	overflow: hidden;
}

.wrap:hover {
	position: absolute;
	top: -6px;
	left: -13px;
	z-index: 100;
	height: 385px;
	background: #323232;
	background: rgba(248,247,244,0.2);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	padding: 6px 13px 20px 13px;
	overflow: visible;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.05);
       -moz-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.05);
            box-shadow: 0 20px 20px 0 rgba(0,0,0,0.05);
	
}

.wrap-one-line:hover {
	position: absolute;
	top: -6px;
	left: -13px;
	z-index: 100;
	height: 363px;
	background: #323232;
	background: rgba(248,247,244,0.2);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	padding: 6px 13px 20px 13px;
	overflow: visible;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.05);
       -moz-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.05);
            box-shadow: 0 20px 20px 0 rgba(0,0,0,0.05);
	
}

.catalog-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-item .top-img {
	position: absolute;
}

.catalog-item h2 {
	margin-top: -65px;
	margin-bottom: 28px;
	font-size: 45px;
	line-height: 45px;
	text-shadow: 0 1px 4px rgba(49,50,53,0.5);
	text-align: left;
}

.catalog-item span {
	font-size: 30px;
	line-height: 35px;
}

.catalog-item p {
	margin-bottom: 20px;
}

.catalog-item a {
	font-size: 16px;
	line-height: 22px;
	border-bottom: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgba(255,255,255,0.3);
	
}

.catalog-item a:hover {
	color: #ffbc9e;
	border-bottom: 1px solid rgb(255,173,162);
	border-bottom: 1px solid rgba(255,173,162,0.3);
}

.catalog-item a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgb(255,173,162);
	border-bottom: 1px solid rgba(255,173,162,0.3);
}

.catalog-item a.btn {
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	padding: 10px 22px 12px 22px;
	border: none;
}

.features {
	color: #323232;
	padding: 23px 20px;
	padding-bottom: 9px;
	margin-bottom: 40px;
	background: #323232 url(../img/waffle.png) repeat;
	-webkit-border-radius: 14px;
	   -moz-border-radius: 14px;
	        border-radius: 14px;
}

.features h2 {
	margin: 0;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
}

.features-left {
	float: left;
	width: 540px;
	margin-right: 26px;
}

.features-right {
	float: right;
	width: 540px;
	margin-right: 0;
}

.feature1,
.feature2,
.feature3,
.feature4 {
	position: relative;
	padding: 0;
	padding-left: 57px;
}

.feature1 ,
.feature3 {
	margin: 0;
	margin-top: 22px;
	margin-bottom: 22px;
}

.feature1::before {
	content: "";
	position: absolute;
	top: -12px;
	left: 0;
	width: 49px;
    height: 49px;
	background-image: url(../img/sprite.png);
    background-position: -5px -327px;
    background-repeat: no-repeat;
}

.feature2::before {
	content: "";
	position: absolute;
	top: -12px;
	left: 0;
	width: 49px;
    height: 49px;
	background-image: url(../img/sprite.png);
    background-position: -5px -428px;
    background-repeat: no-repeat;
}

.feature3::before {
	content: "";
	position: absolute;
	top: -12px;
	left: 0;
	width: 49px;
    height: 49px;
	background-image: url(../img/sprite.png);
    background-position: -5px -145px;
    background-repeat: no-repeat;
}

.feature4::before {
	content: "";
	position: absolute;
	top: -12px;
	left: 0;
	width: 49px;
    height: 49px;
	background-image: url(../img/sprite.png);
    background-position: -5px -541px;
    background-repeat: no-repeat;
}

.news-subscribe {
	margin: 0;
	margin-bottom: 40px;
}

.news-subscribe .news {
	float: left;
	width: 520px;
	margin-right: 26px;
	padding: 20px 20px 82px 20px;
	background: #323232 url(../img/strawberries.png) no-repeat;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
}

.news-subscribe .news h3 {
	margin: 0;
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.news-subscribe .news a {
	display: block;
	width: 290px;
	margin-top: 6px;
	color: #323232;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-decoration: underline;
}

.news-subscribe .news a:hover {
	color: #e84d37;
}

.news-subscribe .news a:active {
	color: #e84d37;
}

.news-subscribe .subscribe {
	float: right;
	width: 560px;
	margin-right: 0;
	background: #F7F6F4 url(../img/lines-pattern.png) repeat;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
}

.subscribe-content {
	position: relative;
	margin: 5px;
	background: #F7F6F4;
	border-radius: 10px;
}

.subscribe-content p {
	color: #5a5a5a;
	margin: 0;
	padding: 28px 20px 37px 20px;
	font-size: 16px;
	line-height: 22px;
}

.subscribe-form {
	padding-left: 20px;
	padding-bottom: 34px;
}

.subscribe-form input {
	width: 336px;
	font: inherit;
	line-height: 24px;
	padding: 9px 15px;
	border: 1px solid #D2D2D1;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius:  4px;
}

.subscribe-form input:hover {
	padding: 8px 14px;
	border: 2px solid #C8C7C6;
}

.subscribe-form input:focus {
	font-weight: 700;
	padding: 8px 14px;
	border: 2px solid #7ABFEC;
}

.subscribe-form input + label {
	display: none;
	color: #249FDF;
	position: absolute;
	font-size: 11px;
	line-height: 13px;
}

.subscribe-form .subscribe-mail:focus + label {
	display: block;
	top: 117px;
	left: 35px;
}

.subscribe-form input:required:valid {
	border: 1px solid #D2D2D1;
	padding: 9px 15px;
	font-weight: 700;
}

.subscribe-form input:required:valid + label {
	display: block;
	color: #9A9A9A;
	top: 117px;
	left: 35px;
	
}

.subscribe-form .btn {
	margin-left: 8px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	padding: 10px 19px 10px 19px;
}

.contacts-map {
	position: relative;
}

.contacts {
	position: absolute;
	z-index: 2;
	top: 60px;
	right: 44px;
	width: 252px;
	padding: 30px 25px 30px 25px;
	background: #FCFDFD;
	-webkit-border-radius: 14px;
	   -moz-border-radius: 14px;
	        border-radius: 14px;
}

.contacts p {
	color: #323232;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	margin-bottom: 25px;
}

.contacts p strong {
	font-size: 18px;
	line-height: 24px;
}

.contacts .btn {
	display: block;
	font-size: 18px;
	line-height: 24px;
	padding-top: 8px;
	padding-bottom: 13px;
	text-align: center;
}

.footer {
	margin-top: 20px;
	padding-bottom: 25px;
}



.catalog-footer .container  {
	margin-top: 28px;
	
	padding-top: 20px;
}
.catalog-footer .container:before {
    content:""; 
    background: #D1D0CE; 
    position: absolute; 
    top: 0;
    left: 45px;
    right: 45px;
    height: 1px; 
}

.footer-social {
	float: left;
	width: 267px;
	margin-right: 26px;
}

.social-btn {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-top: 15px;
	margin-right: 7px;
	font-size: 0;
	vertical-align: top;
	background: transparent url(../img/sprite.png) no-repeat center;
	border: 5px solid rgb(255,255,255);
	border: 5px solid rgba(255,255,255,0.5);
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
}

.social-btn-tw {
	background-position: -7px -602px;
	opacity: 0.8;
}

.social-btn-inst {
	background-position: -7px -388px;
	opacity: 0.8;
}

.social-btn-fb {
	background-position: -7px -264px;
	opacity: 0.8;
}

.social-btn-vk {
	background-position: -8px -644px;
	opacity: 0.8;
}

.social-btn-tw:hover,
.social-btn-inst:hover,
.social-btn-fb:hover,
.social-btn-vk:hover {
	opacity: 1.0;
}

.social-btn-tw:active,
.social-btn-inst:active,
.social-btn-fb:active,
.social-btn-vk:active {
	opacity: 1.0;
	-webkit-box-shadow: inset 0px 2px 1px #888888;
	   -moz-box-shadow: inset 0px 2px 1px #888888;
	        box-shadow: inset 0px 2px 1px #888888;
}

.footer-links {
	float: left;
	margin-top: 12px;
	margin-right: 26px;
	margin-left: 107px;
} 

.footer-links ul {
	float: left;
	margin: 0;
	margin-right: 30px;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.footer-links li {
	font-size: 16px;
	line-height: 18px;
}

.footer-links a,
.footer-copyright a {
	font-size: 13px;
	line-height: 18px;
	border-bottom: 1px solid #9DB0A5;
}

.footer-links a:hover,
.footer-copyright a:hover {
	border-bottom: 1px solid #AAA395;
}

.footer-links a:active,
.footer-copyright a:active {
	border-bottom: 1px solid #AAA395;
}

.footer-links ul.supplier {
	position: relative;
	padding-left: 22px;
}

.footer-links ul.supplier::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
    width: 15px;
    height: 13px;
	background-image: url(../img/sprite.png);
    background-position: -5px -304px;
    background-repeat: no-repeat;
}

.footer-links ul.supplier li:first-child {
	font-weight: 700;
}

.footer-copyright {
	float: right;
	width: 189px;
	margin: 0;
	font-size: 11px;
	line-height: 18px;
}

.footer-copyright p {
	margin-top: -4px;
}

#map {
	min-height: 430px;
    width: 100%;
}

.breadcrumbs {
	float: left;
	width: 853px;
	margin-right: 26px;
}

.breadcrumbs ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.breadcrumbs li {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 16px;
	margin-top: 20px;
	margin-right: 8px;
}

.breadcrumbs a {
	border-bottom: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgba(255,255,255,0.3);
	
}

.breadcrumbs a:hover {
	border-bottom: 1px solid rgb(255,173,162);
	border-bottom: 1px solid rgba(255,173,162,0.3);
}

.breadcrumbs a:active {
	border-bottom: 1px solid rgb(255,173,162);
	border-bottom: 1px solid rgba(255,173,162,0.3);
}

.time-phone {
	float: right;
	max-width: 267px;
	margin-top: -10px;
}

.time-phone p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	text-align: right;
}

.time-phone p a {
	color: #FFFFFF;
	font-size: 22px;
	font-weight: 700;
	text-decoration: none;
}

.catalog-title {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 35px;
	line-height: 41px;
}

.catalog {
	margin-top: 40px;
}

.pagination {
	float: right;
	max-width: 267px;
	margin-right: 25px;
}

.pagination ul {
	margin: 0;
	margin-top: 36px;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.pagination li {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 18px;

}

.pagination li.selected {
	padding: 4px 10px 6px 10px;
	color: #2E2E2E;
	background-color: #FFFFFF;
	border-radius: 16px;
}

.pagination li a {
	display: block;
	padding: 6px 10px 8px 10px;
	color: #ffffff;
	text-decoration: none;
}

.pagination li a:hover {
	background-color: #96B2A6;
	background-color: rgba(247, 246, 243, 0.2);
	border-radius: 16px;
}

.pagination li a:active {
	color: #2E2E2E;
	background-color: #FFFFFF;
}

.arrow {
	width: 9px;
    height: 14px;
	font-size: 0;
	vertical-align: middle;
	background: #849C8F url(../img/sprite.png) no-repeat center;
}

.left {
    background-position: -5px -5px;
	margin-right: 14px;
	opacity: 0.2;
}

.right {
    background-position: -5px -29px;
	margin-left: 14px;
}

.pagination li.right a:hover {
    background-color: transparent;
}

.form-element {
	display: inline-block;
	padding: 0;
	margin-right: 10px;	
	margin-bottom: 10px;
	vertical-align: bottom;
}

.form-element:nth-child(4),
.form-element:nth-child(5) {
	margin-bottom: 0;
}

.form-element span {
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	margin-left: 16px;
	margin-bottom: 6px
}

.select-style {
	padding: 0;
	margin: 0;
	width: 193px;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	overflow: hidden;
	background-color: #96B2A6;
	background-color: rgba(255,255,255,0.2);
	position: relative;
}

.select-style::after {
	content: "";
	position: absolute;
	top: 17px;
	right: 14px;
	border: 5px solid transparent;
    border-top: 6px solid #ffffff;

}

.select-style:hover::after {
	content: "";
	position: absolute;
	top: 17px;
	right: 14px;
	border: 5px solid transparent;
    border-top: 6px solid #2F2F2F;

}

.select-style select:hover {
	background-color: #FFFFFF;
	color: #2E2E2E;
}

.select-style select {
	color: #FFFFFF;
	padding: 10px 16px;
	width: 193px;
	border: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

.range-filter {
	width: 220px;
}

.range-controls {
	position: relative;
	height: 36px;
	padding: 0 15px;
	background: #96B2A6;
	background: rgba(255,255,255,0.2);
	border-radius: 20px;
	overflow: hidden;
}

.range-controls .scale {
	margin-top: 16px;
	height: 4px;
	background: #C9D5CE;
	background: rgba(247,246,244,0.5);
}

.range-controls .bar {
	height: 4px;
	background: rgb(247,246,244);
}

.range-controls .toggle {
	position: absolute;
	top: 8px;
	left: 35px;
	width: 20px;
	height: 20px;
	background: #F8F7F4;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
       -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
	cursor: pointer;
}

.range-controls .min-toggle:hover {
	top: 7px;
	left: 34px;
	width: 22px;
	height: 22px;
	border-radius: 11px;
}

.range-controls .max-toggle:hover {
	top: 7px;
	left: 132px;
	width: 22px;
	height: 22px;
	-webkit-border-radius: 11px;
	   -moz-border-radius: 11px;
	        border-radius: 11px;
}

.range-controls .max-toggle {
	left: 133px;
}

.price-controls {
	font-size: 14px;
	line-height: 16px;
	margin-left: 16px;
	margin-bottom: 6px;
}

.price-controls input {
	display: none;
}

.radio-style,
.checkbox-style {
	position: relative;
	padding: 7px 19px;
	background: #ABBCB2;
	background: rgba(255,255,255,0.2);
	border-radius: 20px;
	overflow: hidden;
}

.checkbox-style {
	padding: 8px 18px;
}

.form-radio-button {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	margin-right: 15px;
}

.form-radio-button:last-child {
	margin-right: 0;
}

.form-radio-button input[type="radio"] {
	display: none;
}

.form-radio-button input[type="radio"] + .radio-indicator {
	position: absolute;
	top: 0;
	left: -18px;
	width: 20px;
	height: 20px;
	border: 1px solid #FFFFFF;
	-webkit-border-radius: 14px;
	   -moz-border-radius: 14px;
	        border-radius: 14px;
} 

.form-radio-button input[type="radio"] + .radio-indicator:hover {
	top: -1px;
	left: -19px;
	border: 2px solid #FFFFFF;
} 

.form-radio-button input[type="radio"]:checked + .radio-indicator::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	background-color: #F8F7F4;
	border-radius: 7px;
}

.form-checkbox {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	margin-right: 20px;
}

.form-checkbox:last-child {
	margin-right: 0;
}

.form-checkbox input[type="checkbox"] {
	display: none;
}

.form-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: -19px;
	width: 20px;
	height: 20px;
	border: 1px solid #FFFFFF;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
} 

.form-checkbox input[type="checkbox"] + .checkbox-indicator:hover {
	top: -1px;
	left: -20px;
	border: 2px solid #FFFFFF;
} 

.form-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
	background-image: url(../img/sprite.png);
    background-position: -2px -120px;
    background-repeat: no-repeat;
}

.form-element button {
	color: #FBFBFB;
	font: inherit;
	padding: 6px 28px;
	background: #A6B8AE;
	background: rgba(255,255,255,0.2);
	border: 2px solid #ffffff;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
}

.form-element button:hover {
	color: #313131;
	background: #FAFCFB;
	cursor: pointer;
}

.form-element button:active {
	color: #313131;
	background: #EAEAEA;
	cursor: pointer;
	border: none;
	padding: 8px 30px;
	-webkit-box-shadow: inset 0 2px 1px #696969;
	   -moz-box-shadow: inset 0 2px 1px #696969;
	        box-shadow: inset 0 2px 1px #696969;
}

.feedback-modal-form label,
.search-form label,
.user-block-login-form label,
.subscribe-form label {
	display: none;
}

.search-form {
	display: none;
	position: absolute;
	top: 60px;
	right: 257px;
	z-index: 2;
	width: 340px;
	padding: 20px;
	background: #F7F6F4;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
       -moz-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
            box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

.catalog-bg .search-form  {
	right: 275px;
}

.search-form-show {
	display: block;
}

.search-form input {
	width: 305px;
	font: inherit;
	line-height: 24px;
	padding: 10px 15px;
	border: 1px solid #D2D2D1;
	border-radius: 4px;
	position: relative;
}




.user-block-login {
	display: none;
	position: absolute;
	top: 60px;
	right: 155px;
	z-index: 2;
	width: 241px;
	padding: 20px;
	background: #F7F6F4;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
       -moz-box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
            box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

.catalog-bg .user-block-login  {
	right: 175px;
}

.user-block-login-show {
	display: block;
}

.user-block-login-form input {
	width: 210px;
	font: inherit;
	line-height: 24px;
	padding: 10px 15px;
	border: 1px solid #D2D2D1;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	margin-bottom: 20px;
	position: relative;
}

.feedback-modal-form textarea:hover,
.feedback-modal-form input:hover,
.search-form input:hover,
.user-block-login-form input:hover {
	padding: 9px 14px;
	border: 2px solid #C8C7C6;
}

.feedback-modal-form textarea:focus,
.feedback-modal-form input:focus,
.search-form input:focus,
.user-block-login-form input:focus {
	font-weight: 700;
	padding: 9px 14px;
	border: 2px solid #7ABFEC;
}

.feedback-modal-form textarea:required:valid,
.feedback-modal-form input:required:valid,
.main-header input:required:valid {
	border: 1px solid #D2D2D1;
	padding: 10px 15px;
	font-weight: 700;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.feedback-modal-form textarea + label,
.feedback-modal-form input + label,
.search-form input + label,
.user-block-login-form input + label {
	display: none;
	color: #249FDF;
	position: absolute;
	font-size: 11px;
	line-height: 13px;
}

.user-block-login-form input.login-mail:focus + label {
	display: block;
	top: 5px;
	left: 35px;
}

.user-block-login-form input.login-mail:required:valid + label {
	display: block;
	color: #9A9A9A;
	top: 5px;
	left: 35px;
	
}

.user-block-login-form input.login-password:focus + label {
	display: block;
	top: 71px;
	left: 35px;
}

.user-block-login-form input.login-password:required:valid + label {
	display: block;
	color: #9A9A9A;
	top: 71px;
	left: 35px;
}

.search-form input.search:focus + label {
	display: block;
	top: 5px;
	left: 35px;
}


.search-form input.search:required:valid + label {
	display: block;
	color: #9A9A9A;
	top: 5px;
	left: 35px;
	
}


.user-block-login-form p {
	margin: 0;
	float: right;
	font-size: 13px;
	width: 125px;
	line-height: 20px;
}

.user-block-login-form a {
	color: #323232;
	border-bottom: 1px solid #ACABAA;
	white-space: nowrap;
}

.user-block-login-form a:hover {
	color: #FF4D3C;
	border-bottom: 1px solid #FFCEC6;
}

.user-block-login-form a:active {
	color: #FF4D3C;
	border-bottom: 1px solid #FFCEC6;
}

.user-block-login-form button {
	padding: 10px 25px;
	cursor: pointer;
}

.feedback-modal-background {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 200;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	background-color: transparent;
	background: rgba(0,0,0,0.3);
}

.feedback-modal-background-show {
	display: block;
}

@keyframes bounce {
    0%   {
    	transform: translateY(-2000px);
    }
    70%  {
    	transform: translateY(30px);
    }
    90%  {
    	transform: translateY(-10px);
    }
    100% {
   		transform: translateY(0);
    }
}

@keyframes shake {
    0%, 100% {
    	transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
    	transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
    	transform: translateX(10px);
    }
}

.feedback-modal {
	display: none;
	position: absolute;
	z-index: 300;
	top: 50%;
	left: 50%;
	width: 428px;
	height: 402px;
	margin-left: -214px;
	margin-top: -201px;
	padding: 20px 25px;
	color: #323232;
	background: #F8F7F4;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}


.feedback-modal-show {
	display: block;
	animation: bounce 0.6s;
}

.feedback-modal-error {
  	animation: shake 0.6s;
}

.feedback-modal-close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 18px;
	height: 18px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.feedback-modal-close::before,
.feedback-modal-close::after {
	content: "";
	position: absolute;
	top: 8px;
	left: -2px;
	width: 23px;
	height: 2px;
	background-color: #000000;
}

.feedback-modal-close::before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.feedback-modal-close::after {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.feedback-modal h2 {
	margin: 0;
	margin-bottom: 24px;
	padding: 0;
	font-size: 24px;
	font-weight: 500;
	line-height: 19px;
}

.feedback-modal-form input {
	width: 237px;
	font: inherit;
	line-height: 24px;
	padding: 10px 15px;
	border: 1px solid #D2D2D1;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	margin-bottom: 18px;
	position: relative;
}

.feedback-modal-form input.feedback-modal-name:focus + label {
	display: block;
	top: 47px;
	left: 40px;
}

.feedback-modal-form input.feedback-modal-name:required:valid + label {
	display: block;
	color: #9A9A9A;
	top: 47px;
	left: 40px;	
}

.feedback-modal-form input.feedback-modal-mail:focus + label {
	display: block;
	top: 110px;
	left: 40px;
}

.feedback-modal-form input.feedback-modal-mail:required:valid + label {
	display: block;
	color: #9A9A9A;
	top: 110px;
	left: 40px;
}

.feedback-modal-form textarea {
	width: 398px;
	height: 133px;
	font: inherit;
	line-height: 24px;
	border: 1px solid #D2D2D1;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	margin-bottom: 20px;
	position: relative;
	padding: 10px 15px;
}

.feedback-modal-form textarea:focus + label {
	display: block;
	top: 175px;
	left: 35px;
}

.feedback-modal-form textarea:required:valid + label {
	display: block;
	color: #9A9A9A;
	top: 175px;
	left: 35px;
}

.cart-modal {
	display: none;
	position: absolute;
	top: 60px;
	right: 44px;
	z-index: 2;
	width: 500px;
	padding: 20px;
	background: #F7F6F4;
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
       -moz-box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
            box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

.cart-modal-show {
	display: block;
}

.cart-modal span {
	color: #999999;
}

.cart-modal table {
	color: #323232;
	font-size: 13px;
	line-height: 16px;
	border-collapse: collapse;

}

.cart-modal td {
	vertical-align: middle;
	padding-bottom: 15px;
}

.cart-modal td:nth-child(3) {
	padding-left: 10px;
}

.cart-modal .number {
	white-space: nowrap;
	text-align: right;
	padding-left: 30px;
}

.cart-modal .total {
	padding-top: 15px;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	text-align: right;
	border-top: 1px solid #CACAC7;
}

.cart-modal-close {
	width: 18px;
	height: 18px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	background-image: url(../img/sprite.png);
    background-position: -5px -680px;
    background-repeat: no-repeat;
}

.map-img img {
	display: block;
	margin: 0 auto;
}